<div class="calendar-container">
    <div class="calendar-header">
        <button (click)="previousWeek()" [disabled]="isCurrentWeek()" [hidden]="isCurrentWeek()">
            <mat-icon fontIcon="chevron_left"></mat-icon>
        </button>   
        <div class="calendar-title-container">
            <p class="calendar-title">Week</p>
            <div class="calendar-week">
                <p>{{ startDate | day }}</p>
                -
                <p>{{ endDate | day }}</p>
            </div>
        </div>
        <button (click)="nextWeek()">
            <mat-icon fontIcon="chevron_right"></mat-icon>        
        </button>     
    </div>
    <div class="calendar-body">
        @if (isLoading) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        @else {
            <app-calendar-day [name]="'Monday'" [day]="weeklySlots?.monday"></app-calendar-day>
            <app-calendar-day [name]="'Tuesday'" [day]="weeklySlots?.tuesday"></app-calendar-day>
            <app-calendar-day [name]="'Wednesday'" [day]="weeklySlots?.wednesday"></app-calendar-day>
            <app-calendar-day [name]="'Thursday'" [day]="weeklySlots?.thursday"></app-calendar-day>
            <app-calendar-day [name]="'Friday'" [day]="weeklySlots?.friday"></app-calendar-day> 
        }   
    </div>
</div>
