.calendar-container {
    display: flex;
    flex-direction: column;
    margin: 4em 0 4em 0;
    min-width: 900px;
}

.calendar-header {
    display: flex;
    background: purple;
    color: #fff;
    padding: 1em;
    align-items: center;

    button {
        background: transparent;
        border: 0;
        color: #fff;
    }
}

.calendar-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    flex: 1;
}

.calendar-title {
    font-weight: bold;
}

.calendar-week {
    display: flex;
    gap: 0.5em;
    font-size: 0.8rem;
}

.calendar-body {
    display: flex;
    gap: 5em;
    justify-content: center;
    padding: 1em 4em 4em 4em;
    background: #f5f3f2;
}

.mat-icon:hover {
    cursor: pointer;
}