.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 1em auto;
    gap: 1em;
    padding: 1em 0 1em 0;
}

.button {
    padding: 1em;
}

.selected-date {
    display: flex;
    gap: 0.5em;
}