@if (form) {
<div mat-dialog-content>
  <div [formGroup]="form" class="form-container">
    <h3>Book Appointment</h3>

    <div class="selected-date">
      <p>Date:</p>
      <p>{{ startDate.value | date }}</p>
    </div>

    <mat-form-field class="full-width-input input">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required />
      <mat-error>Please provide your name </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input input">
      <mat-label>Surname</mat-label>
      <input matInput placeholder="Surname" formControlName="secondName" />
    </mat-form-field>

    <mat-form-field class="full-width-input input">
      <mat-label>Purpose of your visit</mat-label>
      <input matInput placeholder="Visit purpose" formControlName="comments" />
    </mat-form-field>

    <mat-form-field class="full-width-input input">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" required />
      
      @if (email.errors && email.touched) {
        <mat-error>Please provide a valid email</mat-error>
      }
      
    </mat-form-field>

    <mat-form-field class="full-width-input input">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phone" required />

      @if (phone.errors && phone.touched) {
        <mat-error>Please provide a valid phone number</mat-error>
      }

    </mat-form-field>

    <button
      mat-flat-button
      class="button action-button"
      [disabled]="form.invalid"
      (click)="onAccept()"
    >
      Book
    </button>
  </div>
</div>
}