<div class="home-container">
    <app-calendar [weeklySlots]="weeklySlots" [startDate]="startDate" [endDate]="endDate" [isLoading]="isLoading"
    (nextWeekEvent)="nextWeek()" (previousWeekEvent)="previousWeek()"></app-calendar>
</div>