@import "@angular/material/prebuilt-themes/azure-blue.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.mat-mdc-snack-bar-container {
  &.danger-snackbar {
    --mdc-snackbar-container-color: #c71236;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
