<div class="calendar-day">
    <p>{{name}}</p>

    <div class="slots">
        @if (day && day.slots) {
            @for (slot of day.slots; track $index) {
                <app-calendar-day-slot [slot]="slot"></app-calendar-day-slot>
            }
        }    
    </div>
</div>

